page-trivia {

  .toolbar-background,
  .toolbar-title {
    background-color: black !important;
    color: #ffd54e !important;
  }

  .progress {
    width: 0;
    height: 5px;
    background-color: #ffd54e;
  }

  ion-content {
    background: url("../assets/img/stars-bg.jpg") center center;
  }

  ion-title,
  ion-content {
    background-color: black !important;
    color: #ffd54e !important;
  }

  ion-list,
  ion-item {
    background: transparent !important;
    color: #ffd54e !important;
  }

  button {
    color: #ffd54e !important;
    z-index: 1000;
  }

  img {
    border: 2px solid #ffd54e;
  }

  ion-slide {
    height: 230px !important;
    p {
      font-size: 14px;
    }
  }

  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background-color: #ffd54e !important;
  }

  // Spinner

  .spinner {
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    position: absolute;
    margin: auto;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffd54e;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% {
      -webkit-transform: scale(0.0)
    }
    50% {
      -webkit-transform: scale(1.0)
    }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    }
    50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

}
