page-trivia {

  .toolbar-background,
  .toolbar-title {
    background-color: black !important;
    color: #ffd54e !important;
  }

  .progress {
    width: 0;
    height: 5px;
    background-color: #ffd54e;
  }

  ion-content {
    background: url("../assets/img/stars-bg.jpg") center center;
  }

  ion-title,
  ion-content {
    background-color: black !important;
    color: #ffd54e !important;
  }

  ion-list,
  ion-item {
    background: transparent !important;
    color: #ffd54e !important;
  }

  button {
    color: #ffd54e !important;
    z-index: 1000;
  }

  img {
    border: 2px solid #ffd54e;
    width: 164px;
    height: 164px;
  }

  ion-slide {
    height: 255px !important;
    p {
      font-size: 14px;
    }
  }

  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background-color: #ffd54e !important;
  }

  .spinner {
    left: calc(50% - 24px);
    top:  calc(50% - 24px);
    height: 48px;
    width: 48px;
    position: absolute;
    background-color: #ffd54e;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px)
    }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

}
