// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

@font-face {
  font-family: StarWars;
  src: local("StarWars"),
  local("StarWars"),
  url(../assets/fonts/Starjedi.ttf);
  font-weight: bold;
}

body {
  background-color: black;
  font: 700 1em "News Cycle", sans-serif;
  color: #ffd54e;
  letter-spacing: .15em;
}

.scroll-content {
  margin: auto;
  max-width: 520px !important;
}

.action-sheet-container {
  background-color: black !important;
}

.action-sheet-button.activated {
  background-color: #1f1f1f !important;
}

.action-sheet-title,
.action-sheet-button {
  color: #ffd54e !important;
}
